@model MvcBasic.Models.Member

@{
    ViewBag.Title = "Create";
}
@section scripts{
    <script>
        $(function () {
            $('h2').css('color', 'blue');
        });
    </script>
}

<h2>Create</h2>

@* この一行だけで十分 *@
@Html.Partial("_MemberPartial", Model)
