@model MvcBasic.Models.Member

@{
    ViewBag.Title = "Edit";
}
@section scripts{
    <script>
        $(function () {
            $('h2').css('color', '#ff00ff');
        });
    </script>
}
<h2>Edit</h2>
@* この一行だけで十分。Sharedの_MemberPartial.cshtmlを見てる *@
@{Html.RenderPartial("_MemberPartial", Model); }