@model MvcBasic.Models.Member
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <h2>データベース作成</h2>
        <p><a href="../Members/Index">メンバーアプリ</a></p>
    </div>
    <div class="col-md-4">
        <h2>検索</h2>
        <p><a href="../Members/Search">サーチアプリ</a></p>
    </div>
    <div class="col-md-4">
        <h2>画像アップロード</h2>
        <p><a href="../Bind/Upload">アップロード</a></p>
    </div>
</div>